[Unit]
Description=kcp-server Service
After=rc-local.service

[Service]
Type=simple
ExecStart=/usr/sbin/kcp-server -c /etc/kcp-server.json 
Restart=always
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=999999

[Install]
WantedBy=multi-user.target